{% extends "sms_core/sms_base.html" %}
{% load static %}

{% block title %}SMS: LogIn{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sms_core/sms_log_in.css' %}">
{% endblock %}

{% block content %}
<!-- Based on https://bootsnipp.com/snippets/dldxB -->
    <div class="wrapper fadeInDown">
          <div id="formContent">
                <!-- Tabs Titles -->
                <div class="fadeIn first">
                    <h2>Simple Monitoring System</h2>
                </div>
                <div class="fadeIn first">
                    <h3>{{ message }}</h3>
                </div>

                <!-- Login Form -->
                <form method="post" action="">

                    {% csrf_token %}

                  <input type="text" id="name" class="fadeIn second" name="name" placeholder="username" required minlength="3" maxlength="20">
                  <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required minlength="3" maxlength="20">
                  <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

          </div>
    </div>
{% endblock %}