<label>{{ form.name.label }}:</label>
<b>{{ form.name.errors }}</b>
{{ form.name }}
<small class="form-text text-muted">
    {{ form.name.help_text}}
</small>

<label>{{ form.password1.label }}:</label>
<b>{{ form.password1.errors }}</b>
{{ form.password1 }}
<small class="form-text text-muted">
    {{ form.password1.help_text }}
</small>

<label>{{ form.password2.label }}:</label>
<b>{{ form.password2.errors }}</b>
{{ form.password2 }}
<small class="form-text text-muted">
    {{ form.password2.help_text }}
</small>