{% extends "sms_core/sms_base_nav.html" %}
{% load static %}

{% block title %}SMS: Device edit - {{ obj }}{% endblock %}

{% block content %}
    <div class="container">

        {% if request.user.is_staff %}

            <div>
                <h2>Device edit: </h2>
            </div>


            {% if success %}
                <div class="alert alert-success" role="alert">
                    The device has been edited successfully!
                </div>
            {% endif %}

            <form action="{{ obj.get_edit_url }}" method="post">

                {% csrf_token %}

                {% include "sms_core/sms_device_form_base.html" %}

                <div class="col-4 offset-md-8">
                    <a type="button" class="btn btn-danger" href="{{ obj.get_delete_url }}">Delete device</a>
                    <a type="button" class="btn btn-secondary" href="{% url 'url_devices_overview' %}">Cancel</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>

        {% endif %}

    </div>
{% endblock %}