{% extends "sms_core/sms_base_nav.html" %}
{% load static %}

{% block title %}SMS: Administration{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sms_core/sms_administration.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if request.user.is_staff %}
        <div class="row">
            <div class="col-2 offset-md-10">
                <a type="button" class="btn btn-secondary" href="{% url 'url_user_create' %}">Add user</a>
            </div>
        </div>

        <div>
            <h2>User's list [{{ smsusers|length }}]: </h2>
        </div>

        <div>
            {% for user in smsusers %}
                {% if user.is_active %}
                    <div class="card bg-light">
                        <div class="card-header">
                            {{ user.name }}
                            {% if request.user.is_staff %}
                            <a href="{{ user.get_delete_url }}" class="btn btn-danger btn-sm">Delete</a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-title"><b>Is the user admin: {{ user.is_staff }}</b></p>
                            <p class="card-text">User created at: {{ user.date_joined|date:"d M Y H:i" }},
                                User updated at {{ user.updated_at|date:"d M Y H:i" }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% endif %}

    </div>

{% endblock %}