{% extends "sms_core/sms_base_nav.html" %}
{% load static %}

{% block title %}SMS: Device add{% endblock %}

{% block content %}
    <div class="container">

        {% if request.user.is_staff %}

            <div>
                <h2>Adding new device: </h2>
            </div>

            {% if success %}
                <div class="alert alert-success" role="alert">
                    Device added successfully!
                </div>
            {% endif %}

            <form action="{% url 'url_device_add' %}" method="post">

                {% csrf_token %}

                {% include "sms_core/sms_device_form_base.html" %}

                <div class="col-4 offset-md-8">
                    <a type="button" class="btn btn-secondary" href="{% url 'url_devices_overview' %}">Cancel</a>
                    <button type="submit" class="btn btn-success">Add device</button>
                </div>
            </form>

        {% endif %}

    </div>
{% endblock %}