{% extends "sms_core/sms_base_nav.html" %}
{% load static %}

{% block title %}SMS: User edit - {{ obj }}{% endblock %}

{% block content %}
    <div class="container">

        <div>
            <h2>Self service for {{ obj }}: </h2>
        </div>

        {% if success %}
            <div class="alert alert-success" role="alert">
                The user has been edited successfully!
            </div>
        {% endif %}

        <form action="{{ obj.get_absolute_url }}" method="post">

                {% csrf_token %}

            <div class="form-group">

                {% include "sms_core/sms_user_form_base.html" %}

            </div>

            <div class="col-2 offset-md-10">
                <a type="button" class="btn btn-secondary" href="{% url 'url_devices_overview' %}">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>

        </form>

    </div>
{% endblock %}